@model ASUProjectSubmission.Models.Student

@{
    ViewData["Title"] = "Submit Project";
}

<h2>Data Science Project Submission</h2>
<h4>Add your information below</h4>



<form asp-action="Edit">
    <div class="form-horizontal">
        
        <hr />
        @if (Context.Request.Query["msg"] == "success")
        {
        <div class="alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Your API responded properly and the response has been saved. <a href="/"><strong>Click here</strong></a> to return to the home page.
        </div>
        }
        @if (Context.Request.Query["msg"] == "fail")
        {
            <div class="alert alert-danger text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Oops!</strong> Your information was saved but the API did not return success. See the error message below.<br /><strong>Note: you can update your api information and hit save to test again.</strong>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="DateCreated" />
        <input type="hidden" asp-for="FirstName" />
        <input type="hidden" asp-for="LastName" />

        <div class="form-group">
            <label class="col-md-2 control-label">ASU Student ID</label>
            <div class="col-md-10">
                <input asp-for="ASUStudentId" class="form-control" readonly />
                <span asp-validation-for="ASUStudentId" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input class="form-control" value="@Model.FirstName @Model.LastName" readonly />                    
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">API Key</label>
            
            <div class="col-md-10">
                <input asp-for="APIKey" class="form-control longBox" />
                <code>Example:<br/>PlC+f+xioePMRAzh2fUW123oc/qGplhqvPJagysohhp1wLy0nDW3Fxg8pLY3bftddzgyb543yn110VXj+ZoSgg== </code>
                <span asp-validation-for="APIKey" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">API URL</label>
            <div class="col-md-10">
                <input asp-for="APIUrl" class="form-control longBox" />
                <code>Example:<br />https://ussouthcentral.services.azureml.net/workspaces/35fa41d36617429fa404b8f676e7e098/services/4e780620177c40099c316395ce399752/execute?api-version=2.0&details=true</code>
                <span asp-validation-for="APIUrl" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">API Response</label>
            <div class="col-md-10">
                @if (Model.APIResponse != null)
                {
                    <kbd>
                        @Model.APIResponse
                    </kbd>     
                }
                else
                {
                    <div style="padding: 8px;">
                        <kbd>Not submitted</kbd>
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">API Is Valid?</label>
            <div class="col-md-10">
                @if (Model.APIIsValid)
                {
                    <button class="btn btn-success">
                        <span class="fa fa-check-circle" aria-hidden="true"></span>
                    </button>
                }
                else
                {
                    <button class="btn btn-warning">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                    </button>
                }                
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Test API &raquo;" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
